body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}
