<template>
  <AppLayout>
    <div class="container">
      <div :class="classCart()">
        <BaseTitle>Корзина</BaseTitle>
        <div v-if="products.length === 0">здесь пусто</div>
        <div v-else :class="classCart('items')">
          <CartItem
            v-for="item of products" :key="item.product.id"
            :product="item.product" :quantity="item.quantity" :currency="currency"
            @change="(value) => changeQuantity(value, item.product.id)"
            @remove="removeProduct(item.product.id)"/>
        </div>
        <div :class="classCart('total')">
          <div>Итого :</div>
          <div :class="classCart('total-value')">{{ cost }}</div>
        </div>
        <div :class="classCart('button-wrapper')">
          <BaseButton to="/order">Оформить заказ</BaseButton>
        </div>
      </div>
    </div>
  </AppLayout>
</template>

<script>
import { computed, ref } from 'vue';
import AppLayout from '../components/AppLayout.vue';
import { cn } from '../utils/cn';
import BaseTitle from '../components/base/BaseTitle.vue';
import { useCart } from '../stores/cart';
import { useMenu } from '../stores/menu';
import CartItem from '../components/CartItem.vue';
import BaseButton from '../components/base/BaseButton.vue';

const classCart = cn('cart');

export default {
  name: 'CartView',
  components: {
    BaseButton,
    CartItem,
    BaseTitle,
    AppLayout
  },
  setup() {
    const cartStore = useCart();
    const menuStore = useMenu();
    const products = computed(() => cartStore.products);
    const cost = computed(() => cartStore.cost);
    const currency = computed(() => menuStore.currency);
    const quantity = ref(cartStore.quantity);
    const removeProduct = (id) => {
      cartStore.removeProduct(id);
    };
    const changeQuantity = (value, id) => {
      if (value === 'increase') {
        cartStore.increase(id);
      } else if (value === 'decrease') {
        cartStore.decrease(id);
      }
    };
    return {
      quantity,
      changeQuantity,
      removeProduct,
      classCart,
      products,
      cost,
      currency
    };
  }
};
</script>

<style lang="scss">
.cart {
  margin: 24px 0;
  padding-bottom: 100px;

  &__items {
    display: grid;
    grid-gap: 24px;
    margin-top: 24px;
    padding-bottom: 48px;
    border-bottom: 10px dotted grey;
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
  }

  &__total-value {
    font-size: 36px;
    font-weight: 600;
    color: var(--main-color);
  }

  &__button-wrapper {
    max-width: 411px;
    margin-left: auto;
  }

  @media screen and (max-width: 768px) {
    &__total-value {
      font-size: 24px;
    }
  }
}
</style>
