<template>
  <div :class="classHomePage()">
    <AppGrid>
      <AppHeader/>
      <NavigationMenu/>
      <AppCategories :class="classHomePage('categories')"/>
    </AppGrid>
    <AppFooter/>
  </div>
</template>

<script>
import AppHeader from '../components/AppHeader.vue';
import NavigationMenu from '../components/NavigationMenu.vue';
import { cn } from '../utils/cn';
import AppCategories from '../components/AppCategories.vue';
import AppFooter from '../components/AppFooter.vue';
import AppGrid from '../components/AppGrid.vue';

const classHomePage = cn('home-page');

export default {
  name: 'IndexPage',
  components: {
    AppGrid,
    AppFooter,
    AppCategories,
    NavigationMenu,
    AppHeader,
  },
  setup() {
    return {
      classHomePage,
    };
  },
};
</script>

<style lang="scss">
.home-page {
  &__categories {
    margin-bottom: 200px;
  }

  @media screen and (max-width: 768px) {
    &__categories {
      margin-bottom: 100px;
    }
  }
}
</style>
