<template>
<div>
  <AppHeader/>
  <div>новинки</div>
</div>
</template>

<script>
import AppHeader from '../components/AppHeader.vue';

export default {
  name: 'NoveltyView',
  components: { AppHeader }
};
</script>

<style scoped>

</style>
