<template>
  <AppLayout>
    <div :class="classOrder()">
      <div class="container">
        <BaseTitle>Оформление заказа</BaseTitle>
        <div :class="classOrder('inner')">
          <div :class="classOrder('grid')">
            <div :class="classOrder('delivery')">
              <BaseInputRadio
                v-for="item in orderTypes" :key="item.id" v-model="orderType" name="delivery"
                :value="item.name"
                required>
                {{ item.name }}
              </BaseInputRadio>
            </div>
            <BaseInput placeholder="Адрес" :class="classOrder('address')"/>
            <div :class="classOrder('map')">
              <img :src="map" alt="">
            </div>
            <BaseInput placeholder="Фамилия" :class="classOrder('surname')"/>
            <BaseTextarea placeholder="Комментарий" :class="classOrder('comment')"/>
            <BaseInput placeholder="Имя" :class="classOrder('name')" required/>
            <BaseInput placeholder="Кв./Офис" :class="classOrder('flat')"/>
            <BaseInput placeholder="Этаж" :class="classOrder('floor')"/>
            <BaseInput placeholder="Подъезд" :class="classOrder('entrance')"/>
            <div :class="classOrder('phone')">
              <BaseInputTel placeholder="Телефон" required/>
            </div>
          </div>
          <div :class="classOrder('options')">
            <div :class="classOrder('option')">
              <div>Стоимость</div>
              <div>{{cost}}</div>
            </div>
            <div v-for="item of options" :key="item" :class="classOrder('option')">
              <div>{{item.name}}</div>
              <div>{{item.price}}</div>
            </div>
          </div>
          <div :class="classOrder('total')">
            <div>Итого</div>
            <div :class="classOrder('total-price')">{{total}}</div>
          </div>
          <div :class="classOrder('bottom')">
            <BaseSelect
              v-model="payment"
              :class="classOrder('payment')"
              :target="payment"
              :options="payments"
              placeholder="Выберите способ оплаты"
              required>
              Способ оплаты
            </BaseSelect>
            <PromoCode placeholder="Введите промокод"/>
            <BaseButton :class="classOrder('button')">Перейти к оплате</BaseButton>
          </div>
        </div>
      </div>
    </div>
  </AppLayout>
</template>

<script>
import { computed, ref } from 'vue';
import BaseTitle from '../components/base/BaseTitle.vue';
import { cn } from '../utils/cn';
import AppLayout from '../components/AppLayout.vue';
import BaseInputRadio from '../components/base/BaseInputRadio.vue';
import BaseInput from '../components/base/BaseInput.vue';
import map from '../assets/images/map.jpg';
import BaseTextarea from '../components/base/BaseTextarea.vue';
import BaseSelect from '../components/base/BaseSelect.vue';
import PromoCode from '../components/PromoCode.vue';
import BaseButton from '../components/base/BaseButton.vue';
import BaseInputTel from '../components/base/BaseInputTel.vue';
import { useCart } from '../stores/cart';

const classOrder = cn('order');

export default {
  name: 'OrderView',
  components: {
    BaseButton,
    PromoCode,
    BaseSelect,
    BaseTextarea,
    BaseInput,
    BaseInputRadio,
    AppLayout,
    BaseTitle,
    BaseInputTel
  },
  setup() {
    const cartStore = useCart()
    const payment = ref(null);
    const orderType = ref(null);
    const payments = computed(() => cartStore.payments);
    const orderTypes = computed(() => cartStore.delivery);
    const cost = computed(() => cartStore.cost)
    const total = computed(() => cartStore.total)
    const options = computed(() => cartStore.options)
    return {
      classOrder,
      orderType,
      orderTypes,
      map,
      payments,
      payment,
      cost,
      options,
      total
    };
  }
};
</script>

<style lang="scss">
.order {
  margin-top: 41px;

  &__inner {
    margin-top: 26px;
    margin-bottom: 48px;
    padding: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px rgba(90, 90, 90, 0.25);
    border-radius: 16px;
  }

  &__grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
  }

  &__delivery {
    display: flex;
    justify-content: space-between;
    grid-column: span 6;
  }

  &__address,
  &__map {
    grid-column: span 6;
  }

  &__map {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__surname,
  &__name,
  &__phone {
    grid-column: span 3;
  }

  &__comment {
    grid-column: span 3;
    grid-row: span 2;
  }

  &__options {
    display: grid;
    grid-gap: 8px;
    margin-top: 24px;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
  }

  &__total {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
  }

  &__total-price {
    font-weight: 600;
    font-size: 36px;
    color: var(--main-color);
  }

  &__bottom {
    display: flex;
    grid-gap: 33px;
    margin-top: 48px;
  }

  &__button {
    margin-left: auto;
  }

  @media screen and (max-width: 1024px) {
    &__inner {
      padding: 40px;
    }

    &__bottom {
      grid-gap: 8px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 24px;

    &__inner {
      padding: 0;
      box-shadow: none;
    }

    &__bottom {
      display: grid;
      grid-column-gap: 16px;
      grid-row-gap: 24px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__button {
      margin-left: unset;
      grid-column: span 2;
    }

    &__grid {
      grid-gap: 8px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'delivery delivery delivery' 'address address address' 'map map map' 'surname surname surname' 'name name name' 'flat floor entrance' 'comment comment comment' 'phone phone phone';
    }

    &__delivery {
      grid-area: delivery;
    }

    &__address {
      grid-area: address;
    }

    &__map {
      grid-area: map;
    }

    &__surname {
      grid-area: surname;
    }

    &__name {
      grid-area: name;
    }

    &__flat {
      grid-area: flat;
    }

    &__floor {
      grid-area: floor;
    }

    &__entrance {
      grid-area: entrance;
    }

    &__comment {
      grid-area: comment;
    }

    &__phone {
      grid-area: phone;
    }

    &__total-price {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 425px) {
    &__delivery {
      grid-gap: 8px;
      flex-direction: column;
    }

    &__bottom {
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }

    &__button {
      grid-column: span 1;
    }
  }
}
</style>
