<template>
  <div :class="classProduct()">
    <AppGrid :class="classProduct('grid')">
      <AppHeader/>
      <AppProduct :product="product" :currency="currency"/>
      <AppCategories :product-id="product.id"/>
    </AppGrid>
    <ChangeQuantityProduct
      :quantity="quantity"
      :class="classProduct('add')"
      :product="product"
      :currency="currency"
      @change="changeCountProduct"
      @cart="updateProductCart" />
    <AppFooter/>
  </div>
</template>

<script>
import { computed, onBeforeMount, ref } from 'vue';
import { onBeforeRouteUpdate } from 'vue-router';
import { cn } from '../utils/cn';
import AppHeader from '../components/AppHeader.vue';
import AppFooter from '../components/AppFooter.vue';
import AppProduct from '../components/AppProduct.vue';
import { useMenu } from '../stores/menu';
import { useCart } from '../stores/cart';
import AppCategories from '../components/AppCategories.vue';
import ChangeQuantityProduct from '../components/ChangeQuantityProduct.vue';
import AppGrid from '../components/AppGrid.vue';

const classProduct = cn('product-page');
export default {
  name: 'ProductView',
  components: {
    AppGrid,
    ChangeQuantityProduct,
    AppCategories,
    AppProduct,
    AppFooter,
    AppHeader
  },
  props: {
    productId: {
      type: String,
      default: null
    }
  },
  setup(props) {
    const id = ref(props.productId);
    const quantity = ref(0);
    const menuStore = useMenu();
    const cartStore = useCart();
    const product = computed(() => menuStore.product(id.value));
    const currency = computed(() => menuStore.currency)
    const productCartQuantity = computed(() => cartStore.quantity(product.value.id) ? cartStore.quantity(product.value.id) : 0)
    const changeCountProduct = (change) => {
      if (change === 'increase') {
        quantity.value += 1;
      } else if (change === 'decrease') {
        quantity.value -= 1;
      }
    };
    const updateProductCart = () => {
      if (quantity.value === 0) {
        cartStore.removeProduct(product.value.id)
      } else {
        cartStore.addProduct(product.value.id, quantity.value)
      }
    };
    onBeforeMount(() => {
      quantity.value = productCartQuantity.value
    }) ;
    onBeforeRouteUpdate((to, from) => {
      if (to.params.productId !== from.params.productId) {
        id.value = to.params.productId;
        quantity.value = productCartQuantity.value
      }
    });
    return {
      classProduct,
      product,
      changeCountProduct,
      quantity,
      updateProductCart,
      currency
    };
  }
};
</script>

<style lang="scss">
.product-page {
  &__grid {
    margin-bottom: 55px;
  }

  &__add {
    position: sticky;
    bottom: 0;
  }

  @media screen and (max-width: 426px) {
    grid-gap: 24px;
  }
}
</style>
