<template>
  <router-link v-if="to" :to="to" :class="classButton({type: type})" class="reset-link"><slot></slot></router-link>
  <button v-else :class="classButton({type: type})"><slot></slot></button>
</template>

<script>
import { cn } from '../../utils/cn';

const classButton = cn('base-button');
export default {
  name: 'BaseButton',
  props: {
    type: {
      type: String,
      default: 'primary'
    },
    to: {
      type: String,
      default: null
    }
  },
  methods: {
    classButton,
  }
};
</script>

<style lang="scss">
  .base-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid transparent;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color .3s, background-color .3s;

    &_type {
      &_primary {
        padding: 21px 58px;
        background-color: var(--main-color);
        border-radius: 5px;
        color: #fff;

        @media (hover: hover) {
          &:hover {
            background-color: #fff;
            border-color: var(--main-color);
            color: var(--main-color);
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      &_type {
        &_primary {
          padding: 14px 28px;
        }
      }
    }
  }
</style>
