<template>
  <div :class="classBaseSelect()">
    <VueSelect
      v-model="value"
      v-bind="$attrs"
      :options="options"
      close-on-select
      @update:model-value="updateValue"
    />
    <div :class="classBaseSelect('heading')">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import VueNextSelect from 'vue-next-select';
import { cn } from '../../utils/cn';

const classBaseSelect = cn('base-select');

export default {
  name: 'BaseSelect',
  components: {
    VueSelect: VueNextSelect,
  },
  inheritAttrs: false,
  props: {
    options: {
      type: Array,
      default: () => [],
    },
    modelValue: {
      validator: (v) => typeof v === 'string' || typeof v === 'object',
      default: null,
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {
      value: this.modelValue,
    };
  },
  watch: {
    modelValue() {
      this.value = this.modelValue;
    },
  },
  methods: {
    classBaseSelect,
    updateValue() {
      this.$emit('update:modelValue', this.value);
    },
  },
};
</script>

<style lang="scss">
.base-select {
  position: relative;
  font-size: 16px;

  &__heading {
    position: absolute;
    top: 10px;
    left: 14px;
    color: #c4c4c4;
  }

  .vue-input {
    padding: 0;
  }

  .vue-select {
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 32px 16px 15px 16px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    transition: box-shadow .3s;

    input {
      color: #000;
      font-weight: 500;
      font-family: inherit;
      font-size: inherit;

      &::placeholder {
        color: #000;
      }
    }

    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  .vue-dropdown-item.highlighted {
    color: #fff;
    background-color: var(--main-color);
  }

  .vue-dropdown-item.selected.highlighted {
    color: #000;
    background-color: #f3f3f3;
  }

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
</style>
