<template>
  <input :value="modelValue" :class="classInput()" v-bind="$attrs" @input="emitInput">
</template>

<script>
import { cn } from '../../utils/cn';

const classInput = cn('base-input');
export default {
  name: 'BaseInput',
  inheritAttrs: false,
  props: {
    modelValue: {
      type: String,
      default: null
    }
  },
  emits: ['update:modelValue'],
  methods: {
    classInput,
    emitInput({ target }) {
      this.$emit('update:modelValue', target.value);
    }
  }
};
</script>

<style lang="scss">
.base-input {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 30px;
  background-color: transparent;
  border: 1px solid #E3E3E3;
  font-family: inherit;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow .3s;

  &.error {
    border-color: red;
  }

  &:not(:read-only, .error) {
    &:hover,
    &:focus {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  &::placeholder {
    color: #AFAFAF;
  }

  &:read-only {
    color: #c4c4c4;
    cursor: not-allowed;
  }

  @media screen and (max-width: 768px) {
    padding: 12px 14px;
  }
}
</style>
