<template>
<textarea
  v-model="modelValue"
  :placeholder="placeholder"
  rows="1"
  :class="classBaseTextarea()"
  @input="emitTextarea"></textarea>
</template>

<script>
import { cn } from '../../utils/cn';

const classBaseTextarea = cn('base-textarea');
export default {
  name: 'BaseTextarea',
  props: {
    placeholder: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    }
  },
  emits: ['update:modelValue'],
  data() {
    return {
      modelValue: this.value
    };
  },
  methods: {
    classBaseTextarea,
    emitTextarea() {
      this.$emit('update:modelValue', this.modelValue);
    },
  },
};
</script>

<style lang="scss">
.base-textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 30px;
  font-size: 16px;
  font-family: inherit;
  resize: none;
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  transition: box-shadow .3s;
  outline: none;

  &::placeholder {
    color: #AFAFAF;
  }

  &:not(:read-only, .error) {
    &:hover,
    &:focus {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 768px) {
    padding: 12px 14px;
  }
}
</style>
