<template>
  <label :class="classBaseInputTel()">
    <input
      v-model="value"
      v-maska="'+7 (###) ###-##-##'"
      :placeholder='$attrs.placeholder'
      v-bind="$attrs"
      aria-label="Телефон"
      type="tel"
      @input="emitPhone"
    />
  </label>
</template>

<script>
import { cn } from '../../utils/cn';

const classBaseInputTel = cn('base-input-tel');
export default {
  name: 'BaseInputTel',
  inheritAttrs: false,
  props: {
    modelValue: {
      type: String,
      default: null,
    },
  },
  emits: ['update:modelValue'],
  data() {
    return {
      value: this.modelValue,
    };
  },
  watch: {
    modelValue() {
      this.value = this.modelValue
    }
  },
  methods: {
    classBaseInputTel,
    emitPhone() {
      this.$emit('update:modelValue', this.value);
    },
  },
};
</script>

<style lang="scss">
.base-input-tel {
  margin: 0;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 30px;
    background-color: transparent;
    border: 1px solid #E3E3E3;
    font-family: inherit;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow .3s;

    &::placeholder {
      color: #AFAFAF;
    }

    &.error {
      border-color: red;
    }

    &:not(:read-only, .error) {
      &:hover,
      &:focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      }
    }
  }

  @media screen and (max-width: 768px) {
    input {
      padding: 12px 14px;
    }
  }
}
</style>
