<template>
  <label :class="classRadio()">
    <input
      type="radio" :name="name" :value="value" :checked="checked" v-bind="$attrs"
      @change="emitCheck">
    <span><slot></slot></span>
  </label>
</template>

<script>
import { computed } from 'vue';
import { cn } from '../../utils/cn';

const classRadio = cn('base-input-radio');

export default {
  name: 'BaseInputRadio',
  props: {
    name: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    },
    modelValue: {
      type: String,
      default: null
    }
  },
  emits: ['update:modelValue'],
  setup(props, { emit }) {
    const emitCheck = () => {
      emit('update:modelValue', props.value);
    };
    const checked = computed(() => props.value === props.modelValue);
    return {
      classRadio,
      emitCheck,
      checked
    };
  }
};
</script>

<style lang="scss">
.base-input-radio {
  --border: #c4c4c4;
  --focus: #3475dd4c;
  --active: #fff;
  --disabled: #f6f8ff;
  --border-hover: #89A4C7;
  --size: 30px;

  display: inline-flex;
  grid-gap: 16px;
  align-items: center;
  box-sizing: border-box;
  margin: 0;

  &_checked {
    background-color: #3962b319;
    border-color: #3962b3;
  }

  input {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: var(--size);
    height: var(--size);
    margin: 0;
    border: 1px solid var(--bc, var(--border));
    border-radius: 1px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline-color: var(--focus);

      &::placeholder {
        opacity: 0.7;
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:hover {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }

    &[type='radio'] {
      border-radius: 50%;

      &::after {
        position: absolute;
        display: block;
        width: calc(var(--size) * 0.6);
        height: calc(var(--size) * 0.6);
        background-color: #89A4C7;
        border-radius: 50%;
        opacity: 0;
        transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
        content: '';
      }

      &:checked {
        background-color: var(--active);
        border-color: var(--active);

        &::after {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    --size: 23px;

    grid-gap: 7px;
  }
}
</style>
