<template>
  <div :class="classTitle()"><slot></slot></div>
</template>

<script>
import {cn} from '../../utils/cn'

const classTitle = cn('title')
export default {
  name: 'BaseTitle',
  methods: {
    classTitle
  }
};
</script>

<style lang="scss">
.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
</style>
