<template>
  <!--  <component :is="name" :width="width" />-->
  <img alt="">
</template>

<script>

export default {
  name: 'BaseIcon',
  props: {
    name: {
      type: String,
      require: true,
    },
    width: {
      type: String,
      default: '15',
    },
  },
  setup() {
  },
};
</script>
