<template>
  <button :class="classBurger()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</template>

<script>
import { cn } from '../utils/cn';

const classBurger = cn('burger-menu');
export default {
  name: 'AppBurgerMenu',
  methods: {
    classBurger,
  },
};
</script>

<style lang="scss">
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 34px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  span {
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 4px;
    transition: .3s;
  }

  &:hover {
    span {
      background-color: var(--bg-active-color);
    }
  }

  @media screen and (max-width: 1024px) {
    width: 33px;
    height: 25px;

    span {
      height: 5px;
    }
  }

  @media screen and (max-width: 425px) {
    width: 29px;
    height: 22px;

    span {
      height: 4px;
    }
  }
}
</style>
