<template>
  <div :class="classCategories()">
    <div class="container">
      <div :class="classCategories('items')">
        <AppCategory v-for="category in categories" :key="category.id" :category="category"/>
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { cn } from '../utils/cn';
import AppCategory from './AppCategory.vue';
import { useMenu } from '../stores/menu';

const classCategories = cn('categories');

export default {
  name: 'AppCategories',
  components: { AppCategory },
  props: {
    productId: {
      type: Number,
      default: null
    }
  },
  setup(props) {
    const menuStore = useMenu();
    const categories = computed(() => props.productId ? menuStore.productCategories(props.productId) : menuStore.menuCategories);
    return {
      classCategories,
      categories
    };
  }
};
</script>

<style lang="scss">
.categories {
  &__items {
    display: grid;
    grid-gap: 48px;
  }
}
</style>
