<template>
  <div :id="category.id" :class="classCategory()">
    <div :class="classCategory('title')">{{ category.name }}</div>
    <div :class="classCategory('products')">
      <ProductCard
        v-for="product of products"
        :key="product.id"
        :product="product" :currency="currency"/>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue';
import { cn } from '../utils/cn';
import ProductCard from './ProductCard.vue';
import { useMenu } from '../stores/menu';

const classCategory = cn('category');
export default {
  name: 'AppCategory',
  components: { ProductCard },
  props: {
    category: {
      type: Object,
      default: null
    },
  },
  setup(props) {
    const menuStore = useMenu();
    const currency = computed(() => menuStore.currency);
    const products = computed(() => props.category.ids ? menuStore.selectedProducts(props.category.ids) : menuStore.categoryProducts(props.category.id));
    return {
      classCategory,
      products,
      currency
    };
  }
};
</script>

<style lang="scss">
.category {
  &__title {
    font-weight: 700;
    font-size: 36px;
  }

  &__products {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
  }

  @media screen and (max-width: 900px) {
    &__products {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 700px) {
    &__title {
      font-size: 24px;
    }

    &__products {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 16px;
    }
  }
}
</style>
