<template>
<div :class="classFooter()">
  <div class="container">
    <div :class="classFooter('inner')">
      <div :class="classFooter('col')">
        <AppLogo/>
        <div :class="classFooter('address')">Народного ополчения, 8</div>
        <a href="tel:89999989988" :class="classFooter('tel')" class="reset-link">+7 (999) 998 99 88</a>
      </div>
      <div :class="classFooter('socials-wrapper')">
        <div :class="classFooter('socials-title')">Соц.сети</div>
        <div :class="classFooter('socials')">
          <a href="">
            <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.5237 28.6919L28.1838 24.8336L21.5237 20.9563L21.5237 28.6919Z" fill="white"/>
              <path d="M24.8535 0.847778C20.1045 0.847778 15.462 2.25398 11.5133 4.88856C7.56462 7.52313 4.48698 11.2678 2.66959 15.6489C0.852201 20.03 0.376689 24.8509 1.30319 29.5019C2.22968 34.1529 4.51658 38.4251 7.87468 41.7783C11.2328 45.1315 15.5113 47.415 20.1691 48.3402C24.8269 49.2653 29.6548 48.7905 34.0424 46.9758C38.43 45.1611 42.1801 42.0879 44.8185 38.145C47.457 34.2021 48.8652 29.5664 48.8652 24.8243C48.8652 18.4654 46.3354 12.3668 41.8324 7.87035C37.3293 3.37387 31.2218 0.847778 24.8535 0.847778V0.847778ZM37.4913 29.0676C37.4917 29.6946 37.3683 30.3157 37.1283 30.8952C36.8883 31.4746 36.5362 32.0012 36.0923 32.4448C35.6484 32.8883 35.1213 33.2402 34.5411 33.4803C33.9609 33.7204 33.3391 33.8439 32.711 33.8439L16.996 33.8439C16.368 33.8439 15.7461 33.7204 15.166 33.4803C14.5858 33.2402 14.0587 32.8883 13.6148 32.4448C13.1708 32.0012 12.8188 31.4746 12.5787 30.8952C12.3387 30.3157 12.2154 29.6946 12.2158 29.0676L12.2158 20.5811C12.2154 19.954 12.3387 19.333 12.5787 18.7535C12.8188 18.174 13.1708 17.6475 13.6148 17.2039C14.0587 16.7603 14.5858 16.4084 15.166 16.1684C15.7461 15.9283 16.368 15.8047 16.996 15.8047L32.711 15.8047C33.3391 15.8047 33.9609 15.9283 34.5411 16.1684C35.1213 16.4084 35.6484 16.7603 36.0923 17.2039C36.5362 17.6475 36.8883 18.174 37.1283 18.7535C37.3683 19.333 37.4917 19.954 37.4913 20.5811L37.4913 29.0676Z" fill="white"/>
            </svg>
          </a>
          <a href="">
            <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.0862 0.847778C19.3371 0.847778 14.6947 2.25398 10.746 4.88856C6.79729 7.52313 3.71965 11.2678 1.90226 15.6489C0.0848667 20.03 -0.390645 24.8509 0.535852 29.5019C1.46235 34.1529 3.74924 38.4251 7.10734 41.7783C10.4654 45.1315 14.7439 47.415 19.4017 48.3402C24.0595 49.2653 28.8875 48.7905 33.2751 46.9758C37.6626 45.1611 41.4128 42.0879 44.0512 38.145C46.6896 34.2021 48.0979 29.5664 48.0979 24.8243C48.0979 18.4654 45.5681 12.3668 41.065 7.87035C36.562 3.37387 30.4545 0.847778 24.0862 0.847778V0.847778ZM34.9104 22.1522C32.7683 22.3888 30.9327 21.5433 29.0971 20.4644C29.0971 20.6411 29.1508 26.1178 29.0591 28.73C28.9675 31.4147 28.007 33.7777 25.8997 35.5412C21.4323 39.286 15.0913 37.2637 13.5779 31.5378C12.7565 28.4177 13.4705 25.6067 15.9222 23.3826C17.3029 22.1207 19.0058 21.5591 20.832 21.3256C21.2237 21.2752 21.6187 21.2531 22.042 21.2152L22.042 25.4553C21.5049 25.5878 20.9615 25.7045 20.4276 25.8623C20.0571 25.9691 19.6958 26.1052 19.347 26.2692C18.8604 26.4878 18.4308 26.8152 18.0913 27.2262C17.7518 27.6372 17.5117 28.1208 17.3895 28.6394C17.2673 29.158 17.2663 29.6977 17.3866 30.2167C17.5069 30.7358 17.7453 31.2202 18.0833 31.6324C18.4897 32.1935 19.0424 32.6326 19.6814 32.9018C20.3203 33.1711 21.021 33.2601 21.7071 33.1593C23.0878 32.9921 23.9535 32.1246 24.4653 30.8784C24.8192 29.8922 24.9728 28.8455 24.9171 27.7993C24.8982 22.6507 24.8982 17.5052 24.8887 12.3565C24.8931 12.3036 24.9005 12.2509 24.9108 12.1988L29.0339 12.1988C29.4951 15.6438 31.2455 17.827 34.9104 18.1361L34.9104 22.1522Z" fill="white"/>
            </svg>
          </a>
          <a href="">
            <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.3196 0.847778C19.5705 0.847778 14.9281 2.25398 10.9794 4.88856C7.03069 7.52313 3.95304 11.2678 2.13565 15.6489C0.318265 20.03 -0.157247 24.8509 0.76925 29.5019C1.69575 34.1529 3.98264 38.4251 7.34074 41.7783C10.6988 45.1315 14.9773 47.415 19.6351 48.3402C24.2929 49.2653 29.1209 48.7905 33.5085 46.9758C37.896 45.1611 41.6462 42.0879 44.2846 38.145C46.923 34.2021 48.3313 29.5665 48.3313 24.8243C48.3313 18.4654 45.8015 12.3668 41.2984 7.87035C36.7954 3.37387 30.6879 0.847778 24.3196 0.847778V0.847778ZM38.1591 34.2079C37.4605 34.306 34.0443 34.2079 33.867 34.2079C32.9838 34.2195 32.1317 33.8827 31.4958 33.2706C30.7755 32.5758 30.1315 31.813 29.4275 31.0909C29.2201 30.8693 28.9947 30.6652 28.7536 30.4806C28.1915 30.0501 27.6348 30.1455 27.3702 30.8103C27.1635 31.5258 27.0193 32.2578 26.939 32.9982C26.8927 33.6684 26.467 34.088 25.7139 34.1343C25.2473 34.1588 24.7807 34.1697 24.3196 34.1561C22.6388 34.1469 20.9844 33.7388 19.4927 32.9655C17.8782 32.0681 16.4715 30.8407 15.3643 29.3635C13.5443 27.0422 12.09 24.4919 10.7912 21.8627C10.723 21.7292 9.39139 18.901 9.35865 18.7675C9.23859 18.3234 9.35865 17.8957 9.72701 17.7458C9.96167 17.6559 14.3493 17.7458 14.4229 17.7458C14.7494 17.7436 15.068 17.8451 15.3329 18.0356C15.5978 18.2261 15.7951 18.4958 15.8964 18.8057C16.7082 20.8791 17.8186 22.8231 19.1925 24.5764C19.385 24.8099 19.6102 25.0146 19.861 25.184C20.2185 25.4292 20.5568 25.3447 20.7042 24.9306C20.879 24.3598 20.9817 23.7694 21.0098 23.1732C21.0343 21.9907 21.0098 21.2142 20.9443 20.0317C20.9006 19.2743 20.6332 18.6122 19.5145 18.397C19.1707 18.3343 19.1407 18.051 19.3617 17.7676C19.8228 17.1818 20.4532 17.0864 21.1599 17.051C22.2131 16.9911 23.2663 17.032 24.3196 17.051H24.5488C25.0072 17.0494 25.4645 17.0959 25.9131 17.19C26.1785 17.2441 26.4193 17.3823 26.5998 17.5841C26.7802 17.7858 26.8906 18.0404 26.9145 18.3098C26.9687 18.6081 26.9915 18.9113 26.9827 19.2144C26.9554 20.5031 26.8927 21.7946 26.879 23.0833C26.8663 23.5947 26.913 24.1058 27.0182 24.6064C27.1682 25.293 27.6403 25.4646 28.1096 24.9687C28.7178 24.3291 29.2753 23.6432 29.7768 22.9171C30.6657 21.5937 31.3982 20.172 31.9597 18.6803C32.2653 17.9147 32.5054 17.7458 33.324 17.7458L37.979 17.7458C38.2558 17.741 38.5317 17.7777 38.7976 17.8548C38.8917 17.8795 38.9796 17.9233 39.056 17.9835C39.1323 18.0437 39.1954 18.119 39.2413 18.2047C39.2871 18.2904 39.3147 18.3846 39.3224 18.4815C39.3301 18.5783 39.3177 18.6757 39.286 18.7675C39.0568 19.7865 38.5056 20.6557 37.9217 21.4921C36.9749 22.8299 35.9762 24.135 35.0075 25.4564C34.891 25.6273 34.7844 25.8047 34.6883 25.9877C34.3226 26.6471 34.3499 27.0149 34.8793 27.5598C35.7251 28.429 36.6283 29.2409 37.4442 30.1346C38.0426 30.7848 38.5831 31.4859 39.0595 32.2298C39.6407 33.1671 39.2723 34.0499 38.1591 34.2079V34.2079Z" fill="white"/>
            </svg>
          </a>
          <a href="">
            <svg width="49" height="49" viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.5532 29.8592C27.338 29.8592 29.5956 27.605 29.5956 24.8242C29.5956 22.0433 27.338 19.7891 24.5532 19.7891C21.7683 19.7891 19.5107 22.0433 19.5107 24.8242C19.5107 27.605 21.7683 29.8592 24.5532 29.8592Z" fill="white"/>
              <path d="M24.5522 0.847778C11.291 0.847778 0.540527 11.5825 0.540527 24.8243C0.540527 38.0662 11.291 48.8009 24.5522 48.8009C37.8135 48.8009 48.564 38.0662 48.564 24.8243C48.564 11.5825 37.8135 0.847778 24.5522 0.847778ZM39.3875 30.9182C39.2722 33.1977 38.6307 35.4456 36.9671 37.0891C35.2873 38.7483 33.0255 39.3665 30.7207 39.4804L18.3839 39.4804C16.0788 39.3665 13.8173 38.7487 12.1375 37.0891C10.4738 35.4456 9.83239 33.1977 9.71713 30.9182L9.71713 18.7305C9.83239 16.451 10.4739 14.2031 12.1375 12.5595C13.8173 10.9003 16.0791 10.2821 18.3839 10.1682L30.7206 10.1682C33.0257 10.2821 35.2872 10.9 36.967 12.5595C38.6307 14.2031 39.2721 16.451 39.3874 18.7305L39.3875 30.9182Z" fill="white"/>
              <path d="M30.564 12.9453C27.559 12.863 21.5446 12.863 18.5397 12.9453C16.9759 12.9881 15.2032 13.3768 14.0891 14.5651C12.9313 15.8003 12.4938 17.2926 12.4495 18.962C12.3715 21.8922 12.4495 30.6868 12.4495 30.6868C12.5003 32.356 12.9313 33.8485 14.0891 35.0837C15.2032 36.2723 16.9759 36.6607 18.5397 36.7035C21.5446 36.7858 27.559 36.7858 30.564 36.7035C32.1277 36.6607 33.9004 36.2719 35.0146 35.0837C36.1723 33.8485 36.6098 32.3562 36.6542 30.6868L36.6542 18.962C36.6098 17.2926 36.1723 15.8003 35.0146 14.5651C33.9 13.3765 32.1273 12.9881 30.564 12.9453V12.9453ZM24.5514 32.6288C23.0056 32.6288 21.4945 32.171 20.2092 31.3135C18.9239 30.4559 17.9221 29.2371 17.3306 27.811C16.739 26.3849 16.5842 24.8157 16.8858 23.3018C17.1874 21.7879 17.9318 20.3973 19.0248 19.3059C20.1179 18.2144 21.5105 17.4711 23.0266 17.17C24.5428 16.8689 26.1143 17.0234 27.5424 17.6141C28.9706 18.2048 30.1912 19.2051 31.05 20.4885C31.9088 21.7719 32.3672 23.2808 32.3672 24.8244C32.3672 26.8942 31.5438 28.8793 30.078 30.3429C28.6123 31.8065 26.6243 32.6288 24.5514 32.6288V32.6288ZM32.4005 18.631C32.0913 18.6309 31.7891 18.5393 31.5321 18.3677C31.2751 18.1962 31.0748 17.9524 30.9566 17.6671C30.8383 17.3819 30.8074 17.0681 30.8678 16.7653C30.9281 16.4626 31.077 16.1845 31.2957 15.9663C31.5143 15.748 31.7928 15.5994 32.096 15.5392C32.3992 15.479 32.7135 15.5099 32.9991 15.6281C33.2847 15.7462 33.5288 15.9463 33.7006 16.203C33.8723 16.4596 33.964 16.7614 33.964 17.0701C33.964 17.2751 33.9236 17.4781 33.845 17.6675C33.7664 17.8569 33.6512 18.029 33.506 18.1739C33.3608 18.3189 33.1885 18.4338 32.9988 18.5123C32.8091 18.5907 32.6058 18.631 32.4005 18.631Z" fill="white"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div :class="classFooter('copyrights')">© Wmenu 2019*2022</div>
  </div>
</div>
</template>

<script>
import {cn} from "../utils/cn";
import AppLogo from "./AppLogo.vue";

const classFooter = cn('footer')

export default {
  name: "AppFooter",
  components: {AppLogo},
  setup() {
    return {
    }
  },
  methods: {
    classFooter
  }
}
</script>

<style lang="scss">
.footer {
  padding-bottom: 16px;
  background-color: var(--main-color);

  &__inner {
    display: flex;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 17px;
    color: #FFFFFF;
  }

  &__address,
  &__tel {
    font-weight: 500;
  }

  &__address {
    margin-top: 36px;
    margin-bottom: 11px;
  }

  &__socials {
    display: flex;
    grid-gap: 19px;
    margin-top: 10px;
  }

  &__copyrights {
    margin-top: 45px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
  }

  @media screen and (max-width: 1024px) {
    &__inner {
      padding-top: 47px;
    }

    &__address {
      margin-top: 27px;
      margin-bottom: 8px;
    }

    &__socials {
      svg {
        width: 36px;
        height: 36px;
      }
    }

    &__copyrights {
      margin-top: 34px;
    }
  }

  @media screen and (max-width: 500px) {
    &__inner {
      grid-gap: 8px;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 27px;
      font-size: 16px;
    }

    &__address {
      margin-top: 17px;
    }

    &__socials {
      grid-gap: 8px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
</style>
