<template>
  <div :class="classLayout()">
    <slot></slot>
  </div>
</template>

<script>
import { cn } from '../utils/cn';

const classLayout = cn('grid');
export default {
  name: 'AppGrid',
  methods: {
    classLayout
  }
};
</script>

<style lang="scss">
.grid {
  display: grid;
  grid-gap: 48px;

  @media screen and (max-width: 768px) {
    grid-gap: 24px;
  }
}
</style>
