<template>
  <div :class="classHeader()">
    <div class="container">
      <div :class="classHeader('inner')">
        <AppBurgerMenu/>
        <AppLogo/>
        <div :class="classHeader('btn-group')">
          <router-link :to="{path: '/cart'}" class="reset-link" :class="classHeader('menu-button')">
            <svg
              viewBox="0 0 31 31" width="31" height="31" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#a)">
                <path
                  d="M30.092 20.646h-.393a14.123 14.123 0 0 0-4.138-9.152 14.136 14.136 0 0 0-6.73-3.777v-.694a3.334 3.334 0 0 0-3.331-3.33 3.334 3.334 0 0 0-3.33 3.33v.694a14.137 14.137 0 0 0-6.731 3.777A14.123 14.123 0 0 0 1.3 20.646H.908a.908.908 0 0 0-.908.909 5.758 5.758 0 0 0 5.752 5.752h19.375c1.538 0 3-.595 4.117-1.674C30.376 24.538 31 23.09 31 21.555a.908.908 0 0 0-.908-.909ZM13.986 7.024c0-.834.68-1.513 1.514-1.513.835 0 1.514.679 1.514 1.513v.383a14.479 14.479 0 0 0-3.028 0v-.383Zm1.514 2.12c6.539 0 11.912 5.082 12.379 11.503H3.12C3.588 14.226 8.961 9.143 15.5 9.143Zm9.627 16.347H5.752a3.942 3.942 0 0 1-3.83-3.027H29.07c-.436 1.713-2.065 3.027-3.943 3.027Z"
                  fill="currentColor"/>
              </g>
              <defs>
                <clipPath id="a">
                  <path fill="currentColor" d="M0 0h31v31H0z"/>
                </clipPath>
              </defs>
            </svg>
          </router-link>
          <button :class="classHeader('menu-button')">
            <svg
              viewBox="0 0 32 33" width="32" height="33" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#a)" fill="currentColor">
                <path
                  d="m12.495 17.238-1.84-9.18a.92.92 0 0 0-.902-.738h-1.84a.92.92 0 0 0-.901.738l-1.84 9.18a.92.92 0 0 0 1.804.36l.588-2.934h2.539l.588 2.934a.92.92 0 0 0 1.803-.36Zm-4.563-4.41.736-3.672h.331l.736 3.672H7.932ZM27.228 14.664h-2.76v-.918a.919.919 0 0 0-1.839 0v.918H19.87a.919.919 0 1 0 0 1.836h.223a11.479 11.479 0 0 0 2.181 4.026c-.707.646-1.422 1.175-2.059 1.683a.917.917 0 0 0-.143 1.29.92.92 0 0 0 1.292.144c.64-.512 1.409-1.08 2.185-1.791.777.711 1.546 1.28 2.185 1.79a.92.92 0 0 0 1.292-.143.917.917 0 0 0-.143-1.29c-.636-.507-1.352-1.037-2.059-1.683a11.479 11.479 0 0 0 2.181-4.026h.223a.919.919 0 1 0 0-1.836Zm-3.679 4.513a9.666 9.666 0 0 1-1.513-2.683h3.026a9.666 9.666 0 0 1-1.513 2.683Z"/>
                <path
                  d="M29.129 6.403H15.86l-.394-3.157A2.762 2.762 0 0 0 12.728.833H3.254a2.76 2.76 0 0 0-2.76 2.754v20.257a2.76 2.76 0 0 0 2.76 2.754h7.755l.39 3.157a2.764 2.764 0 0 0 2.737 2.412H29.13a2.76 2.76 0 0 0 2.759-2.754V9.156a2.76 2.76 0 0 0-2.76-2.753ZM3.254 24.762a.92.92 0 0 1-.92-.918V3.587a.92.92 0 0 1 .92-.918h9.474a.92.92 0 0 1 .913.804l2.658 21.289H3.254Zm9.916 4.33-.307-2.494h2.467l-2.16 2.494Zm16.878.32a.92.92 0 0 1-.92.919h-14.6l3.501-4.042c.18-.202.26-.47.223-.736L16.09 8.238h13.039a.92.92 0 0 1 .92.918v20.257Z"/>
              </g>
              <defs>
                <clipPath id="a">
                  <path
                    fill="currentColor" transform="translate(.495 .833)"
                    d="M0 0h31.393v31.333H0z"/>
                </clipPath>
              </defs>
            </svg>
          </button>
          <AppSearch @search="onSearch"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import AppLogo from './AppLogo.vue';
import AppBurgerMenu from './AppBurgerMenu.vue';
import AppSearch from './AppSearch.vue';

const classHeader = cn('header');
export default {
  name: 'AppHeader',
  components: {
    AppSearch,
    AppBurgerMenu,
    AppLogo,
  },
  methods: {
    classHeader,
    onSearch(text) {
      console.log(text);
    }
  },
};
</script>

<style lang="scss">
.header {
  background-color: var(--main-color);

  &__inner {
    display: flex;
    grid-gap: 50px;
    align-items: center;
    padding: 4px 0;
  }

  &__btn-group {
    display: flex;
    grid-gap: 16px;
    margin-left: auto;
  }

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: var(--bg-active-color);
    border-radius: 6px;
    transition: color .3s, background-color .3s;

    &:hover {
      color: var(--bg-active-color);
      background-color: #fff;
    }
  }

  @media screen and (max-width: 1024px) {
    &__btn-group {
      grid-gap: 10px;
    }

    &__menu-button {
      padding: 7px;
    }
  }

  @media screen and (max-width: 425px) {
    &__inner {
      grid-gap: 20px;
    }

    &__menu-button {
      svg {
        width: 20px;
      }
    }
  }
}
</style>
