<template>
  <div :class="classLayout()">
    <AppHeader/>
    <slot></slot>
    <AppFooter/>
  </div>
</template>

<script>
import AppHeader from './AppHeader.vue';
import AppFooter from './AppFooter.vue';
import { cn } from '../utils/cn';

const classLayout = cn('layout');
export default {
  name: 'AppLayout',
  components: {
    AppFooter,
    AppHeader
  },
  methods: {
    classLayout
  }
};
</script>

<style lang="scss">
.layout {
}
</style>
