<template>
  <div v-if="product" :class="classProduct()">
    <div class="container">
      <div :class="classProduct('inner')">
        <div :class="classProduct('image-wrapper')">
          <img :src="product.image.large" alt="">
        </div>
        <div :class="classProduct('content')">
          <div :class="classProduct('top')">
            <div :class="classProduct('name')">{{product.id}}{{ product.name }}</div>
            <div :class="classProduct('price')">{{ price }}</div>
            <div :class="classProduct('properties')">
              <span v-for="property of properties" :key="property">{{ property }}</span>
            </div>
          </div>
          <div :class="classProduct('composition')">
            <span :class="classProduct('option-name')">Composition: </span>
            <span :class="classProduct('option-value')">{{ product.options.composition }}</span>
          </div>
          <div :class="classProduct('options')">
            <div v-for="option of options" :key="option" :class="classProduct('option')">
              <div :class="classProduct('option-name')">{{ option.name }}:</div>
              <div :class="classProduct('option-value')">{{ option.value }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';

const classProduct = cn('product');

export default {
  name: 'AppProduct',
  props: {
    product: {
      type: Object,
      default: null
    },
    currency: {
      type: Object,
      default: null
    }
  },
  computed: {
    price() {
      return `${this.product.price.new} ${this.currency ? this.currency.symbol : 'cur'}`;
    },
    properties() {
      return [this.product.options.weight, this.product.options.calorie];
    },
    options() {
      return ['fats', 'squirrels', 'carbohydrates', 'calories'].map(item => (
        {
          name: this.capitalLetter(item),
          value: this.product.options[item]
        }
      ));
    }
  },
  methods: {
    classProduct,
    capitalLetter(str) {
      return `${str.toUpperCase()[0]}${str.substr(1)}`;
    }
  }
};
</script>

<style lang="scss">
.product {
  font-size: 24px;

  &__inner {
    display: grid;
    grid-gap: 52px;
    grid-template-columns: 1fr 2fr;
  }

  &__image-wrapper {
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__top {
    display: grid;
    grid-gap: 24px;
    grid-template-areas: 'name price' 'prop prop';
    grid-template-columns: repeat(2, auto);
  }

  &__name {
    grid-area: name;
    font-weight: 600;
    font-size: 36px;
  }

  &__price {
    grid-area: price;
    font-weight: 600;
    font-size: 36px;
    color: var(--main-color);
    text-align: right;
  }

  &__properties {
    display: flex;
    grid-area: prop;
    grid-gap: 48px;
    color: #A2A2A2;
  }

  &__composition {
    margin-top: 23px;
  }

  &__options {
    display: grid;
    grid-gap: 8px;
    margin-top: 8px;
  }

  &__option {
    display: flex;
    grid-gap: 22px;
  }

  &__option-name {
    flex-grow: 1;
    max-width: 220px;
    font-weight: 500;
  }

  &__option-value {
    color: #706E6E;
  }

  @media screen and (max-width: 768px) {
    margin-top: 0;
    font-size: 16px;

    &__inner {
      grid-gap: 21px;
      grid-template-columns: 1fr;
    }

    &__top {
      grid-template-areas: 'name name' 'prop price';
    }

    &__name {
      text-align: center;
      font-size: 24px;
    }

    &__price {
      font-size: 24px;
    }

    &__properties {
      grid-gap: 21px;
    }

    &__composition {
      margin-top: 26px;
    }

    &__option-name {
      max-width: 146px;
    }
  }
}
</style>
