<template>
  <div :class="classQuantity({type: horizontal ? 'horizontal' : ''})">
    <button
      :class="classQuantity('button', {type: 'decrease'})"
      :disabled="isDisabledButton" @click="$emit('click', 'decrease')"></button>
    <input :value="quantity" readonly :class="classQuantity('input')" type="number" min="0">
    <button
      :class="classQuantity('button', {type: 'increase'})"
      @click="$emit('click', 'increase' )"></button>
  </div>
</template>

<script>
import { cn } from '../utils/cn';

const classQuantity = cn('quantity');
export default {
  name: 'AppQuantity',
  props: {
    quantity: {
      type: Number,
      default: 1,
    },
    horizontal: {
      type: Boolean,
      default: false
    }
  },
  emits: ['click'],
  computed: {
    isDisabledButton() {
      return this.quantity === 0
    }
  },
  methods: {
    classQuantity,
  },
};
</script>

<style lang="scss">
.quantity {
  display: flex;

  &__input {
    box-sizing: border-box;
    max-width: 60px;
    padding: 10px;
    text-align: center;
    border: 1px solid #E7E7E7;
    border-right: none;
    border-left: none;
    outline: none;
    background-color: #fff;
    font-weight: 400;
    font-size: 24px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    transition: .3s;

    &::after {
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #000;
      border-radius: 2px;
      content: '';
    }

    &:disabled {
      cursor: not-allowed;
    }

    &_type {
      &_decrease {
        border-radius: 10px 0 0 10px;
        border-right: none;

      }

      &_increase {
        border-radius: 0 10px 10px 0;
        border-left: none;


        &::before {
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: #000;
          border-radius: 2px;
          content: '';
          transform: rotate(90deg);
        }
      }
    }
  }

  &_type {
    &_horizontal {
      flex-direction: column-reverse;

      .quantity{
        &__button {
          width: 100%;
          height: 38px;
          border: none;

          &_type {
            &_decrease {
              border-radius: 0 0 8px 8px;
            }

            &_increase {
              border-radius: 8px 8px 0 0;
            }
          }
        }

        &__input {
          padding: 16px 10px;
          max-width: 60px;
          border: none;
        }

      }
    }
  }

  @media screen and (max-width: 768px) {
    &__input {
      font-size: 14px;
    }

    &__button {
      &::after,
      &::before {
        width: 10px;
      }
    }

    &_type {
      &_horizontal {
        .quantity__button {
          height: 26px;
        }

        .quantity__input {
          max-width: 40px;
          padding: 10px;
        }
      }
    }
  }
}
</style>
