<template>
  <div :class="classSearch({type: isExpanded ? 'expanded' : null})">
    <button :class="classSearch('button')" @click.prevent="toggleExpanded">
      <svg
        viewBox="0 0 32 33" width="32" height="33" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.966.834C6.344.834.142 7.024.142 14.633c0 7.608 6.202 13.798 13.824 13.798 7.624 0 13.825-6.19 13.825-13.799C27.791 7.025 21.59.835 13.966.835Zm0 25.05c-6.215 0-11.272-5.048-11.272-11.251C2.694 8.429 7.75 3.38 13.966 3.38c6.216 0 11.273 5.048 11.273 11.252 0 6.203-5.057 11.25-11.273 11.25Z"
          fill="currentColor"/>
        <path
          d="m31.16 29.992-7.317-7.302a1.277 1.277 0 0 0-1.805 0 1.271 1.271 0 0 0 0 1.8l7.317 7.303a1.273 1.273 0 0 0 1.804 0 1.271 1.271 0 0 0 0-1.8Z"
          fill="currentColor"/>
      </svg>
    </button>
    <div :class="classSearch('input-wrapper')">
      <input
        v-model="searchText" type="text" :class="classSearch('input')"
        @input="emitSearchText">
    </div>
  </div>
</template>

<script>
import { cn } from '../utils/cn';

const classSearch = cn('search');

export default {
  name: 'AppSearch',
  components: {
  },
  emits: ['search'],
  data() {
    return {
      isExpanded: false,
      searchText: null
    };
  },
  methods: {
    classSearch,
    toggleExpanded() {
      this.isExpanded = !this.isExpanded;
    },
    emitSearchText() {
      this.$emit('search', this.searchText);
    }
  }
};
</script>

<style lang="scss">
.search {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    color: #fff;
    background-color: var(--bg-active-color);
    border-radius: 6px;
    transition: color .3s, background-color .3s;

    &:hover {
      color: var(--bg-active-color);
      background-color: #fff;
    }
  }

  &__input-wrapper {
    display: none;
    padding-left: 40px;
    background-color: #F3F3F3;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    font-family: inherit;
  }

  &_type {
    &_expanded {
      overflow: hidden;
      border-radius: 6px;

      .search__button {
        position: absolute;
        border-radius: 6px 0 0 6px;
        background-color: #F3F3F3;
        color: var(--bg-active-color);
      }

      .search__input-wrapper {
        display: block;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    &__button {
      padding: 7px;
    }
  }

  @media screen and (max-width: 768px) {
    &__input-wrapper {
      z-index: 1;
      position: absolute;
      top: 55px;
      right: 0;
      left: 0;
      padding: 10px;
      border-radius: 0;
      background-color: #fff;
    }

    &__input {
      border: 0.5px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 6px;
    }

    &_type {
      &_expanded {
        .search__button {
          position: relative;
          border-radius: 6px;
        }

        &::before {
          z-index: 1;
          position: absolute;
          top: 55px;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    &__button {
      svg {
        width: 20px;
      }
    }
  }

}
</style>
