<template>
  <div v-if="product" :class="classCartItem()">
    <div :class="classCartItem('content')">
      <div :class="classCartItem('image-wrapper')">
        <img
          :class="classCartItem('image')" :src="product.image.small"
          alt="">
      </div>
      <div :class="classCartItem('inner')">
        <div :class="classCartItem('name')">{{ product.name }}</div>
        <div :class="classCartItem('weight')">{{ product.options.weight }}</div>
        <div :class="classCartItem('price')">{{ price }} </div>
      </div>
      <div :class="classCartItem('quantity')">
        <AppQuantity
          :quantity="quantity" :horizontal="true" @click="changeQuantity"
          />
      </div>
    </div>
    <button :class="classCartItem('remove')" @click="remove">
      <svg
        width="60" height="60" viewBox="0 0 60 60" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_151_6173)">
          <path
            d="M25.3845 -0.0721436C23.4554 -0.0721436 21.5624 0.306463 20.1922 1.65863C18.822 3.01079 18.3893 4.93086 18.3893 6.92305H9.23062C7.95959 6.92305 6.92293 7.95971 6.92293 9.23074H4.61523V13.8461H55.3845V9.23074H53.0768C53.0768 7.95971 52.0401 6.92305 50.7691 6.92305H41.6104C41.6104 4.93086 41.1777 3.01079 39.8075 1.65863C38.4374 0.306463 36.5443 -0.0721436 34.6152 -0.0721436H25.3845ZM25.3845 4.68747H34.6152C35.8773 4.68747 36.2739 4.98495 36.4181 5.12016C36.5624 5.25538 36.8508 5.63399 36.8508 6.92305H23.1489C23.1489 5.63399 23.4374 5.25538 23.5816 5.12016C23.7258 4.98495 24.1224 4.68747 25.3845 4.68747ZM9.23062 16.1538V53.0769C9.23062 56.89 12.3406 60 16.1537 60H43.846C47.6591 60 50.7691 56.89 50.7691 53.0769V16.1538H9.23062ZM18.4614 23.0769H23.0768V50.7692H18.4614V23.0769ZM27.6922 23.0769H32.3075V50.7692H27.6922V23.0769ZM36.9229 23.0769H41.5383V50.7692H36.9229V23.0769Z"
            fill="currentColor"/>
        </g>
        <defs>
          <clipPath id="clip0_151_6173">
            <rect width="60" height="60" fill="white"/>
          </clipPath>
        </defs>
      </svg>
    </button>
  </div>
</template>

<script>
import { cn } from '../utils/cn';
import AppQuantity from './AppQuantity.vue';

const classCartItem = cn('cart-item');
export default {
  name: 'CartItem',
  components: { AppQuantity },
  props: {
    product: {
      type: Object,
      default: () => ({})
    },
    quantity: {
      type: Number,
      default: 0
    },
    currency: {
      type: Object,
      default: () => ({})
    }
  },
  emits: ['remove', 'change'],
  computed: {
    price() {
      return `${this.product.price.new} ${this.currency.symbol}`
    }
  },
  methods: {
    classCartItem,
    remove() {
      this.$emit('remove')
    },
    changeQuantity(value) {
      this.$emit('change', value)
    }
  }
};
</script>

<style lang="scss">
.cart-item {
  display: flex;
  grid-gap: 13px;

  &__content {
    display: flex;
    align-items: center;
    grid-gap: 62px;
    flex-grow: 1;
    padding: 20px 32px;
    background-color: rgba(137, 164, 199, 0.4);
    border-radius: 18px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    padding: 10px 0;
  }

  &__image-wrapper {
    flex-shrink: 0;
    max-width: 200px;
  }

  &__image {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__name {
    font-size: 34px;
  }

  &__weight {
    font-size: 24px;
    color: #484848;
  }

  &__price {
    color: var(--main-color);
    font-size: 34px;
  }

  &__remove {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--additional-color);
    border-radius: 19px;
    border: none;
    color: var(--logo-color);
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    &__image-wrapper {
      max-width: 150px;
    }
  }

  @media screen and (max-width: 768px) {
    &__content {
      grid-gap: 10px;
      padding: 12px;
    }

    &__image-wrapper {
      max-width: 92px;
    }

    &__name {
      font-size: 13px;
    }

    &__weight {
      font-size: 10px;
    }

    &__price {
      font-size: 24px;
    }

    &__remove {
      padding: 16px;
      border-radius: 11px;

      svg {
        width: 17px;
      }
    }
  }

  @media screen and (max-width: 600px) {

  }
}
</style>
