<template>
  <div v-if="product" :class="classAddProduct()">
    <div :class="classAddProduct('top')">
      <div :class="classAddProduct('name')">{{product.name}}</div>
      <div :class="classAddProduct('price-wrapper')">
        <div :class="classAddProduct('price', {type: 'old'})">{{priceOld}}</div>
        <div :class="classAddProduct('price', {type: 'new'})">{{priceNew}}</div>
      </div>
    </div>
    <div :class="classAddProduct('bottom')">
      <AppQuantity :quantity="productQuantity" @click="changeQuantity"/>
      <BaseButton :class="classAddProduct('button')" @click="addProductToCart">Добавить</BaseButton>
    </div>
  </div>
</template>

<script>
import { computed, ref, watch } from 'vue';
import { cn } from '../utils/cn';
import BaseButton from './base/BaseButton.vue';
import AppQuantity from './AppQuantity.vue';

const classAddProduct = cn('add-product');

export default {
  name: 'ChangeQuantityProduct',
  components: { AppQuantity, BaseButton },
  props: {
    quantity: {
      type: Number,
      default: 1
    },
    product: {
      type: Object,
      default: null
    },
    currency: {
      type: Object,
      default: null
    }
  },
  emits: ["cart", "change"],
  setup(props, {emit}) {
    const productQuantity = ref(props.quantity)
    const priceOld = computed(() => `${props.product.price.old} ${props.currency.symbol}`)
    const priceNew = computed(() => `${props.product.price.new} ${props.currency.symbol}`)
    const changeQuantity = (value) => {
      emit('change', value)
    }
    const addProductToCart = () => {
      emit('cart', productQuantity.value)
    }
    watch(() => props.quantity, () => {
      productQuantity.value = props.quantity;
    })
    return {
      classAddProduct,
      productQuantity,
      changeQuantity,
      addProductToCart,
      priceOld,
      priceNew
    }
  },
};
</script>

<style lang="scss">
.add-product {
  display: grid;
  grid-gap: 48px;
  padding: 24px 24px 48px;
  background: #FFFFFF;
  box-shadow: 0 0 4px #5A5A5A3F;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__name {
    font-weight: 500;
    font-size: 36px;
  }

  &__price-wrapper {
    display: flex;
    grid-gap: 48px;
  }

  &__price {
    font-weight: 500;
    font-size: 24px;

    &_type {
      &_old {
        text-decoration-line: line-through;
        color: #C4C4C4;
      }
    }
  }

  &__bottom {
    display: flex;
    grid-gap: 20px;
  }

  &__button {
    width: 100%;
  }
}
</style>
