<template>
  <teleport to="#fancy-modals">
    <div :id="modalId">
      <slot />
    </div>
  </teleport>
</template>

<script lang="ts">
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import { Fancybox } from '@fancyapps/ui';
import { defineComponent } from 'vue';

let modalNumber = 0;

export default defineComponent({
  name: 'FancyModal',
  props: {
    modalName: {
      type: String,
      default: null,
    },
  },
  emits: ['close'],
  data() {
    // eslint-disable-next-line @typescript-eslint/no-explicit-any
    const instance: any = null;
    return {
      instance,
    };
  },
  computed: {
    modalId() {
      return this.modalName || `vue-fancy-modal-${modalNumber}`;
    },
  },
  created() {
    modalNumber += 1;
  },
  methods: {
    open() {
      this.instance = Fancybox.show(
        [{ src: `#${this.modalId}`, type: 'inline' }],
        {
          on: {
            closing: () => {
              this.$emit('close');
              this.instance = null;
            },
          },
        }
      );
    },
    close() {
      if (this.instance) {
        this.instance.close();
      }
    },
  },
});
</script>
