<template>
  <a :href="href" :class="[classNavLink(), {active: active}]">
    <div :class="classNavLink('image-wrapper')">
      <slot name="image"></slot>
    </div>
    <div :class="classNavLink('title')">
      <slot name="title"></slot>
    </div>
  </a>
</template>

<script>
import { cn } from '../utils/cn';

const classNavLink = cn('navigation-link');

export default {
  name: 'NavigationLink',
  props: {
    to: {
      type: String,
      default: '/'
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    href() {
      return `#${this.to}`
    }
  },
  methods: {
    classNavLink,
  }
};
</script>

<style lang="scss">
.navigation-link {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  width: 256px;
  padding: 32px 61px;
  background-color: var(--bg-color);
  border-radius: 22px;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 1.2;
  transition: color .3s, background-color .3s;


  &.active {
    background-color: var(--bg-active-color);
    color: #fff;
  }

  &__image-wrapper {
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 1024px) {
    width: 192px;
    padding: 24px;

    &__image-wrapper {
      max-width: 100px;
    }
  }

  @media screen and (max-width: 425px) {
    width: 90px;
    padding: 11px;

    &__image-wrapper {
      max-width: 46px;
    }

    &__title {
      font-size: 14px;
    }
  }
}
</style>
