<template>
  <div :class="classNavigationMenu()">
    <div class="container">
      <div :class="classNavigationMenu('links')">
        <NavigationLink
          v-for="category of menuCategories" :key="category.id" :to="categoryRoute(category.id)"
          :active="category.id === activeCategory"
          @click="changeActiveCategory(category.id)">
          <template #image>
            <img
              :class="classNavigationMenu('image')" :src="category.icon" width="132"
              height="132" alt="">
          </template>
          <template #title>{{ category.name }}</template>
        </NavigationLink>
      </div>
    </div>
  </div>
</template>

<script>
import {computed, ref} from 'vue';
import NavigationLink from './NavigationLink.vue';
import {cn} from '../utils/cn';
import {useMenu} from "../stores/menu";

const classNavigationMenu = cn('navigation-menu');

export default {
  name: 'NavigationMenu',
  components: {NavigationLink},
  setup() {
    const activeCategory = ref(null);
    const menuStore = useMenu();
    const changeActiveCategory = (id) => {
      activeCategory.value = id;
    };
    const menuCategories = computed(() => menuStore.menuCategories);
    const categoryRoute = (id) => String(id)
    return {
      classNavigationMenu,
      menuCategories,
      changeActiveCategory,
      activeCategory,
      categoryRoute
    };
  }
};
</script>

<style lang="scss">
.navigation-menu {
  overflow: hidden;

  &__links {
    display: flex;
    grid-gap: 32px;
    overflow-x: scroll;
    padding-bottom: 14px;
  }

  @media screen and (max-width: 425px) {
    &__links {
      grid-gap: 12px;
    }
  }
}
</style>
