<template>
  <router-link v-if="product" :to="productRoute" :class="classProductCard()" class="reset-link">
    <div :class="classProductCard('image-wrapper')">
      <img :class="classProductCard('image')" :src="product.image.small" alt="">
    </div>
    <div :class="classProductCard('name')">{{ product.name }}</div>
    <div :class="classProductCard('properties')">
      <div
        v-for="(property, index) of productProperties" :key="index"
        :class="classProductCard('properties-item')">{{ property }}
      </div>
    </div>
    <div :class="classProductCard('price')">{{ productPrice }}</div>
  </router-link>
</template>

<script>
import {cn} from '../utils/cn'

const classProductCard = cn('product-card')
export default {
  name: "ProductCard",
  props: {
    product: {
      type: Object,
      default: null
    },
    currency: {
      type: Object,
      default: null
    }
  },
  computed: {
    productRoute() {
      return {path: `/product/${this.product.id}`}
    },
    productProperties() {
      return [this.product.options.weight, this.product.options.calorie]
    },
    productPrice() {
      return `${this.product.price.new} ${this.currency.symbol}`
    }
  },
  methods: {
    classProductCard,
  }
}
</script>

<style lang="scss">
.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 20px 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px rgba(90, 90, 90, 0.25);
  border-radius: 10px;
  transition: box-shadow .3s;

  &:hover {
    box-shadow: 0 0 20px rgba(90, 90, 90, 0.50);
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__name {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    font-size: 24px;
    line-height: 1.2;
  }

  &__properties {
    display: grid;
    grid-gap: 4px;
    margin-top: 21px;
    font-size: 18px;
    color: #8F8F8F;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #F3F3F3;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    color: var(--main-color);
  }

  @media screen and (max-width: 1024px) {
    padding: 16px 12px;
  }

  @media screen and (max-width: 600px) {
    &__name {
      font-size: 16px;
    }

    &__properties {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}
</style>
