<template>
  <input :class="classPromo()" type="text">
</template>

<script>
import { cn } from '../utils/cn'

const classPromo = cn('promo-code')
export default {
  name: 'PromoCode',
  methods: {
    classPromo
  }
};
</script>

<style lang="scss">
.promo-code {
  padding: 16px 20px;
  border: 1px dashed #D0D0D0;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  transition: border-color .3s;

  &:hover,
  &:focus {
    border-color: #000;
  }

  @media screen and (max-width: 768px) {
    font-size: 11px;
  }
}
</style>
